body{
    padding: 0;
    margin: 0;
}

#btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #760003;
    padding: 15px;
    font-family: Arial;
    color: white;
}

/*css for button styling for small devices and up*/
@media (min-width: 576px) {
    #btn{
        position: absolute;
        right: 10px;
        bottom: 10px;
        background: grey;
        padding: 15px;
        font-family: Arial;
        color: white;
    }
}